@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-white: #fff;
  --color-black: #000;

  --color-gray-500: #9699aa;

  --color-orange-300: #ffaf7e;

  --color-red-500: #EE374A;
  --color-red-450: #E96170;
  --color-red-400: #F9818E;

  --color-purple-600: #483EFF;
  --color-purple-500: #6259FF;
  --color-purple-400: #928CFF;
  --color-purple-200: #D6D9E6;

  --color-blue-950: #022959;
  --color-blue-700: #164A8A;
  --color-blue-300: #ABBCFF;
  --color-blue-200: #BEE2FD;
  --color-blue-100: #EFF5FF;
  --color-blue-50: #F8F9FF;

  --font-family-base: 'Ubuntu', sans-serif;

  --text-1: 700 2rem/1.2 var(--font-family-base);
  --text-2: 700 1.5rem/1.2 var(--font-family-base);
  --text-3-medium: 500 1rem/1.2 var(--font-family-base);
  --text-3-regular: 400 1rem/1.5 var(--font-family-base);
  --text-4-bold: 700 0.875rem/1.2 var(--font-family-base); /* use letter-spacing: 1px; */
  --text-4-medium: 500 0.875rem/1.5 var(--font-family-base);
  --text-4-regular: 400 0.875rem/1.2 var(--font-family-base);
  --text-5: 400 0.75rem/1.2 var(--font-family-base);
}

/* Reset & Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: var(--font-family-base), sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 16px;
  font-weight: 400;
  background-color: var(--color-blue-100);
  width: 100vw;
  min-height: 100vh;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

.btn-next {
  font: var(--text-3-medium);
  background-color: var(--color-blue-950);
  color: var(--color-white);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;

  &:hover {
    background-color: var(--color-blue-700);
  }
}

.btn-back {
  font: var(--text-3-medium);
  color: var(--color-gray-500);

  &:hover {
    color: var(--color-blue-950);
  }
}

.mobile-footer {
  display: none;
}

@media (max-width: 700px) {
  body {
    background: url('../images/bg-sidebar-mobile.svg') top/contain no-repeat var(--color-blue-100);
  }

  .btn-next {
    font: var(--text-4-medium);
    border-radius: 0.25rem;
    padding: 0.6rem 1rem;
  }

  .mobile-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--color-white);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}