button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

.btn-next, .btn-confirm {
  font: var(--text-4-medium);
  color: var(--color-white);
  border-radius: 0.25rem;
  padding: 0.6rem 1rem;
}

.btn-next {
  background-color: var(--color-blue-950);

  &:hover {
    background-color: var(--color-blue-700);
  }
}

.btn-confirm {
  background-color: var(--color-purple-600);

  &:hover {
    background-color: var(--color-purple-400);
  }
}

.btn-back {
  font: var(--text-3-medium);
  color: var(--color-gray-500);

  &:hover {
    color: var(--color-blue-950);
  }
}

@media (min-width: 768px) {
  .btn-next, .btn-confirm {
    font: var(--text-3-medium);
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
  }
}
