@use 'mixins';

button {
  cursor: pointer;
}

.btn {
  border: none;
  background: none;
  font: var(--text-4-medium);
  border-radius: 0.25rem;
  padding: 0.6rem 1rem;

  @include mixins.tablet {
    font: var(--text-3-medium);
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
  }
}

.btn-next, .btn-confirm {
  color: var(--color-white);
}

.btn-next {
  background-color: var(--color-blue-950);

  &:hover {
    background-color: var(--color-blue-700);
  }
}

.btn-confirm {
  background-color: var(--color-purple-600);

  &:hover {
    background-color: var(--color-purple-400);
  }
}

.btn-back {
  font: var(--text-3-medium);
  color: var(--color-gray-500);
  border-radius: 0;
  padding: 0;

  &:hover {
    color: var(--color-blue-950);
  }

  @include mixins.tablet {
    border-radius: 0;
    padding: 0;
  }
}
